.avatar-in-table {
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
    height: 45px;
    width: 45px;
    object-fit: cover;
}
.avatar-in-table-2 {
    cursor: pointer;
    vertical-align: middle;
    height: 45px;
    width: auto;
    
}
.image-popup {
    cursor: pointer;
    vertical-align: middle;
    height: 400px;
    width: auto;
}